<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_comment_success">
        <observer name="opentechiz_email_customer_comment" instance="OpenTechiz\Blog\Observer\CustomerComment"/>
    </event>
</config>
