<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="OpenTechiz\Blog\Api\PostRepositoryInterface" type="OpenTechiz\Blog\Model\PostRepository"/>
    <preference for="OpenTechiz\Blog\Api\Data\PostInterface" type="OpenTechiz\Blog\Model\Post"/>
    <preference for="OpenTechiz\Blog\Api\Data\PostSearchResultInterface" type="OpenTechiz\Blog\Model\PostSearchResult"/>

    <preference for="OpenTechiz\Blog\Api\CommentRepositoryInterface" type="OpenTechiz\Blog\Model\CommentRepository"/>
    <preference for="OpenTechiz\Blog\Api\Data\CommentInterface" type="OpenTechiz\Blog\Model\Comment"/>
    <preference for="OpenTechiz\Blog\Api\Data\CommentSearchResultInterface" type="OpenTechiz\Blog\Model\CommentSearchResult"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_index_listing_data_source" xsi:type="string">blog_post_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="blog_post_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">opentechiz_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">OpenTechiz\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
</config>
